<script>
    export let data = {};
    export let cityWidth;
    export let innerCity;
    export let innerHeight;
    export let xScale;
    export let yScale;
    export let yearScale;

    const monthlast = [4, 8, 13, 17, 21, 26, 30, 34, 39, 43, 47, 52]

    let pathGenerator = (d) => {
        let path = "M";
        let firstvalue = true;
        let firstcoord = "";
        d.forEach((value, idx) => {
            let xvalue = (value) * Math.sin(yearScale(idx+1) * Math.PI / 180)
            let yvalue = (value) * Math.cos(yearScale(idx+1) * Math.PI / 180)
            path += " " + xScale(xvalue) + "," + yScale(yvalue)
            if (firstvalue) {
                firstcoord = " " + xScale(xvalue) + "," + yScale(yvalue) 
            } 
            firstvalue = false;
        })
        path += firstcoord;
        return path;
    }
</script>


<svg width={cityWidth} height={innerHeight}>
    <circle
        cx={cityWidth/2}
        cy={innerHeight/2}
        r={innerCity/2}
        class="big">
    </circle>

    <line x1={cityWidth/2-innerCity/2} x2={cityWidth/2+innerCity/2} y1={innerHeight/2} y2={innerHeight/2} stroke="black"/>
    <line x1={cityWidth/2} x2={cityWidth/2} y1={innerHeight/2-innerCity/2} y2={innerHeight/2+innerCity/2} stroke="black"/>    

    <text x={cityWidth/2} y={innerHeight/2 - innerCity/2 - 10}>0</text>
    <text x={cityWidth/2 + innerCity/2 + 6} y={innerHeight/2}>3</text>
    <text x={cityWidth/2} y={innerHeight/2 + innerCity/2 + 10}>6</text>
    <text x={cityWidth/2 - innerCity/2 - 6} y={innerHeight/2}>9</text>

    <path d={pathGenerator(data["heating"])} class="heat"/>
    <path d={pathGenerator(data["cooling"])} class="cool"/>

    {#each data["heating"] as datapoint, idx}
        {#each monthlast as last}
            {#if (idx==last)}
                <g transform="translate(0,0) rotate({yearScale(idx+1)},{cityWidth/2},{yScale(0)})">
                    <circle cx={cityWidth/2} cy={yScale(datapoint)} r=2.5 class="first_heat"></circle>
                </g>
            {/if}
        {/each}
    {/each}
    {#each data["cooling"] as datapoint, idx}
        {#each monthlast as last}
            {#if (idx==last)}
                <g transform="translate(0,0) rotate({yearScale(idx+1)},{cityWidth/2},{yScale(0)})">
                    <circle cx={cityWidth/2} cy={yScale(datapoint)} r=2.5 class="first_cool"></circle>
                </g>
            {/if}
        {/each}
    {/each}
</svg>


<style>
    circle.big {
        stroke: black;
        stroke-opacity: 0.8;
        stroke-width: 1%;
        fill: none;
    }
    circle.first_heat {
        fill: red;
        fill-opacity: 1;
    }
    circle.first_cool {
        fill: blue;
        fill-opacity: 1;
    }
    path.heat {
        stroke: red;
        stroke-width: 1%;
        stroke-opacity: 0.7;
        fill: red;
        fill-opacity: 0.2;
    }
    path.cool {
        stroke: blue;
        stroke-width: 1%;
        stroke-opacity: 0.7;
        fill: blue;
        fill-opacity: 0.2;
    }
    line {
        stroke: black;
        stroke-width: 1%;
        stroke-opacity: 0.5;
    }
    text {
        font-size: small;
        dominant-baseline: central;
        text-anchor: middle;
    }
</style>