<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { scaleLinear } from 'd3-scale';
  import { max } from 'd3-array';
  import Clock from "./_design_2_clock.svelte";

  // Load data
  const citieslist = ["Chicago", "Baltimore", "Los Angeles"]
  let alldata = [];
  onMount(async () => {
    alldata = await json('/data/daily_heating_cooling.json');
  })

  const average = arr => arr.reduce((a,b) => a + b, 0) / arr.length;
  const transformdata2 = (dataset, selcity) => {
    let transformed = {};
    let week = 0;
    let weekvalues_heat = [];
    let weekvalues_cool = [];
    dataset.filter(d => d.city == selcity).forEach((d, d_idx) => {
      if ( !(d.city in transformed)) {
          transformed[d.city] = {"heating": [], "cooling": []}
      }
      if ( !(week==d.week)) {
        transformed[d.city]["heating"].push(average(weekvalues_heat));
        transformed[d.city]["cooling"].push(average(weekvalues_cool));
        week = d.week
        weekvalues_heat.length = 0;
        weekvalues_cool.length = 0;
      } 
      weekvalues_heat.push(d.heating)
      weekvalues_cool.push(d.cooling)
      if ( d_idx==364) {
        transformed[d.city]["heating"].push(average(weekvalues_heat));
        transformed[d.city]["cooling"].push(average(weekvalues_cool));
      } 
    })
    return transformed
  }

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const cityWidth = innerWidth / 3;
  const innerCity = cityWidth - 2*margin.left - 2*margin.right;

  // Scales
  $: xScale = scaleLinear().domain([max(alldata.map((d) => d.heating))*-1*0.7, max(alldata.map((d) => d.heating))*0.7]).range([(cityWidth / 2) - innerCity/2, (cityWidth / 2 + innerCity/2)]);
  $: yScale = scaleLinear().domain([max(alldata.map((d) => d.heating))*-1*0.7, max(alldata.map((d) => d.heating))*0.7]).range([(innerHeight / 2) + innerCity/2, (innerHeight / 2 - innerCity/2)]);
  $: yearScale = scaleLinear().domain([0, 52]).range([0, 360]);
</script>


{#if alldata.length == 0}
  <p>Loading the data, please wait...</p>
{:else}
<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <!--  -->
    {#each citieslist as city, idx}
      <g transform="translate({idx*cityWidth}, 0)">
        <text x={cityWidth/2} y={innerHeight/2 - innerCity/2 - 20}>{city}</text>
        <Clock data={transformdata2(alldata, city)[city]} {innerCity} {innerHeight} {cityWidth} {yearScale} {xScale} {yScale} />
      </g>
    {/each}
  </g>
</svg>
{/if}


<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  text {
    font-size:medium;
    text-anchor: middle;
    font-weight: bold;
  }
</style>
