<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { scaleLinear } from 'd3-scale';
  import { max } from 'd3-array';

  // Load data
  let alldata1 = [];
  onMount(async () => {
    alldata1 = await json('/data/hourly_heating_december.json');
  })

  const alltypes = ["FullServiceRestaurant", "Hospital", "LargeHotel", "LargeOffice", "MediumOffice", "MidriseApartment", "OutPatient", "PrimarySchool", "QuickServiceRestaurant", "SecondarySchool", "SmallHotel", "SmallOffice", "Stand-aloneRetail", "StripMall", "SuperMarket", "Warehouse"];
  let city_selected = "Baltimore";
  let scale_selected = "across";
  let type_selected = "FullServiceRestaurant";

  const transformdata1 = (dataset) => {
    let transformed = {};
    dataset.forEach((d) => {
      if ( !(d.city in transformed)) {
        transformed[d.city] = {}
      }
      if ( !(d.buildingtype in transformed[d.city])) {
        transformed[d.city][d.buildingtype] = []
      }
      transformed[d.city][d.buildingtype].push(d.total_heating_energy)
    })
    return transformed
  }

  // Size and margins
  const width = 600;
  const height = 450;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const lineHeight = innerHeight/26;

  // Scales
  $: maxdata = (dataset, seltype) => {
    let filtered = [];
    if (scale_selected == "across") {
      filtered = dataset.filter(datapoint => datapoint.city == city_selected)
      return max(filtered.map((d) => d.total_heating_energy));
    } else {
      filtered = dataset.filter(datapoint => datapoint.city == city_selected && datapoint.buildingtype == seltype)
      return max(filtered.map((d) => d.total_heating_energy));
    }
  }
  $: yScale_fun = (dataset, type) => {
    return scaleLinear().domain([0, maxdata(dataset, type)]).range([lineHeight, 0]);
  }
  $: xScale = scaleLinear().domain([1, 744]).range([0, innerWidth-100]);
  $: yScale = scaleLinear().domain([0, maxdata(alldata1, type_selected)]).range([lineHeight, 0]);

  let pathGenerator = (d, yscale) => {
    let path = "M 0," + yscale(0);
    d.forEach((value, idx) => {
        path += " " + xScale(idx+1) + "," + yscale(value)
        if (idx+1==d.length) {
          path += " " + xScale(idx+1) + "," + yscale(0);
        }
    })
    return path;
    }
</script>


{#if alldata1.length == 0}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <svg {width} {height}>
      <g transform="translate({margin.left}, {margin.top})">
        <!--  -->
        {#each alltypes as buildingtype, idx}
          <g transform="translate(0, {idx*lineHeight+idx*10})" >
            <path d={pathGenerator(transformdata1(alldata1)[city_selected][buildingtype], yScale_fun(alldata1, buildingtype))}/>
            <g transform="translate(0,{2*lineHeight}) scale(1,-1)">
              <path d={pathGenerator(transformdata1(alldata1)[city_selected][buildingtype], yScale_fun(alldata1, buildingtype))}/>
            </g>
            <text x={innerWidth-90} y={yScale(0)}>{buildingtype}</text>
          </g>
        {/each}
      </g>
    </svg>

    <table width={innerWidth-100}>
      <tr>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="city_selected" id="flexRadio1" value={"Baltimore"} bind:group={city_selected}>
            <label class="form-check-label" for="flexRadio1">
              Baltimore
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="city_selected" id="flexRadio2" value={"Chicago"} bind:group={city_selected}>
            <label class="form-check-label" for="flexRadio2">
              Chicago
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="city_selected" id="flexRadio3" value={"Los Angeles"} bind:group={city_selected}>
            <label class="form-check-label" for="flexRadio3">
              Los Angeles
            </label>
          </div>
        </td>
        
        <td style="vertical-align:top">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="scale_selected" id="flexRadioScale1" value={"across"} bind:group={scale_selected}>
            <label class="form-check-label" for="flexRadioScale1">
              Scale across all building types
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="scale_selected" id="flexRadioScale2" value={"within"} bind:group={scale_selected}>
            <label class="form-check-label" for="flexRadioScale2">
              Scale within building types
            </label>
          </div>
        </td>
      </tr>
    </table>
  </div>
{/if}


<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  text {
    font-size: xx-small;
    dominant-baseline: middle;
  }
</style>
