<script>
  let current = "";
</script>

<!-- We will cover buttons in week 7! -->
<button 
  class="btn btn-secondary"  
  class:lastclicked="{current === 'messi'}" 
  on:click="{() => current = 'messi'}">
  Messi
</button>

<button 
  class="btn btn-secondary"  
  class:lastclicked="{current === 'ronaldo'}" 
  on:click="{() => current = 'ronaldo'}">
  Ronaldo
</button>

<button 
  class="btn btn-secondary"
  class:lastclicked="{current === 'neymar'}" 
  on:click="{() => current = 'neymar'}">
  Neymar
</button>

<style>
  .lastclicked {background-color: red;}
</style>


