<p> <span style = "font-style: italic;">Marks </span> are 
    <span style = "text-decoration: line-through;"> basic </span> 
    <span style = "font-weight: bold;"> geometric elements </span>
    that depict items and links.</p>
