<script>
    let counter = 0;
</script>

<button 
  class="btn btn-primary"
  on:click="{() => counter += 1}">
  You have clicked the button {counter} times
</button>

<button 
  class="btn btn-danger"
  on:click="{() => counter = 0}">
  Reset
</button>

