<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;

  const myTimer = (_) => index-=1;
  let t
  const repeat = () => t = setInterval(myTimer, 1000);
  $: repeat();
  const stop = () => clearInterval(t);

  // Color
  let color = "darkred";
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <!--  -->
    {#each points as datapoint, idx}
      <circle 
      class="lightout"
      class:lighton="{index <= idx}" 
      class:allon="{index<0}"
      cx={datapoint} cy={innerHeight / 2} r=10 />
    {/each} 

    {#if index===-1}
      {stop()}
    {/if}

  </g>
</svg>

<style>
  .lightout {fill: darkred; opacity: 0.3;}
  .lighton {fill: darkred; opacity: 1;}
  .allon {fill: darkgreen; opacity: 1;}
</style>
