<script>
  import { scaleLinear, scaleOrdinal } from 'd3-scale'
  import { axisBottom, axisLeft } from 'd3-axis'
  import { schemeDark2 }  from 'd3-scale-chromatic'
  import { select } from 'd3-selection'
  export let data = [];

  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 80 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Axes
  const scaleX = scaleLinear().domain([0, 4500]).range([0, innerWidth]);
  const scaleY = scaleLinear().domain([20, 45]).range([innerHeight, 0]);
  const scaleR = scaleLinear().domain([0, 350000000]).range([2, 12]);
  const scaleCat = scaleOrdinal(schemeDark2).domain(['africa', 'americas', 'asia', 'europe']);

  const axisX = axisBottom(scaleX);
  const axisY = axisLeft(scaleY).ticks(7);
  let axis_objX;
  let axis_objY;
  $: {select(axis_objX).call(axisX);}
  $: {select(axis_objY).call(axisY);}

</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px" >
  <g transform="translate({margin.left}, {margin.top})">
    <!--  -->
    {#if data.length===0}
      <text font-size="large" x={innerWidth / 2} y={innerHeight / 2}>
        Waiting for the data to be loaded...
      </text>
    {:else}
      <text font-size="large" font-weight="bold" x={innerWidth / 2} y=-10 >
        Income versus Life expectancy
      </text>
      {#each data as datapoint}
        <circle 
          cx={scaleX(+datapoint.income)} cy={scaleY(+datapoint.life_exp)} r={scaleR(+datapoint.population)}
          style={"fill: " + scaleCat(datapoint.continent)} />
      {/each} 
      <g transform="translate(-25, {innerHeight})" bind:this={axis_objX} >
        <text class="axes" x={innerWidth / 2} y=40>Income</text>
      </g>
      <g transform="translate(-25, 0)" bind:this={axis_objY} >
        <text class="axes" transform="rotate(270)" y=-40 x={-(innerHeight / 2)}>Life expectancy</text>
      </g>
      <text font-size="xx-large" x={innerWidth-80} y={innerHeight-20}>1800</text>
    {/if}
  </g>
  <title>Income versus Life expectancy in 1800</title>
</svg>

<style>
  text {fill: currentColor; text-anchor: middle;}
  .axes {font-size: small;}
</style>





