<script>
  const width = 100;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const rect_margin = { left: 25, top: 25 };
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <!--  -->
    <rect x=0 y=0 width=40 height=40 transform="translate({rect_margin.left}, {rect_margin.top})" fill="yellow" />
    <circle cx=40 cy=40 r=20 transform="translate(25, 25)" fill="skyblue" />
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
