<script>
  import { scaleLog } from 'd3-scale'
  import { axisBottom } from 'd3-axis'
  import { select } from 'd3-selection'

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 30, bottom: 25, left: 30 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  // Axis
  const scale = scaleLog().domain([2,9]).range([0, innerWidth]); 
  const axis = axisBottom(scale);
  let Xaxis;
  $: {select(Xaxis).call(axis);}
  
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})" >
    <!--  -->
    {#each values as datapoint}
      <circle cx={scale(datapoint)} cy={innerHeight / 2} r=10 />
    {/each} 
  </g>
  <g transform="translate({margin.left},60)" bind:this={Xaxis} >
    <text x={innerWidth / 2} y=30>x-axis</text>
  </g>
</svg>

<style>
  text {fill: currentColor; font-size: small; text-anchor: middle;}
</style>
