<script>
  import { scaleLinear, scaleBand } from 'd3-scale'
  import { axisBottom, axisLeft } from 'd3-axis'
  import { select } from 'd3-selection'

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 60, left: 80 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  // Axes
  const scaleX = scaleBand().domain(["Netflix", "Amazon Prime Video", "Disney+", "Hulu", "Apple TV", "Rakuten"]).range([0, innerWidth]);
  const scaleY = scaleLinear().domain([0, 3]).range([innerHeight, 0])

  const axisX = axisBottom(scaleX);
  const axisY = axisLeft(scaleY).ticks(6);
  let axis_objX;
  let axis_objY;
  $: {select(axis_objX).call(axisX);}
  $: {select(axis_objY).call(axisY);}
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    <!--  -->
    {#each data as datapoint}
      <rect x={scaleX(datapoint.service)} y={scaleY(datapoint.viewers)} width=50 height={innerHeight - scaleY(datapoint.viewers)} />
    {/each} 
  </g>
  <g transform={`translate(${margin.left-18},${innerHeight+margin.top})`} bind:this={axis_objX} >
    <text x={innerWidth / 2} y=40>Service</text>
  </g>
  <g transform={`translate(${margin.left-18},${margin.top})`} bind:this={axis_objY} >
    <text transform="rotate(270)" y=-40 x=-{innerHeight / 2}>Viewers (in million)</text>
  </g>
</svg>

<style>
  rect {fill: steelblue; opacity: 0.8;}
  text {fill: currentColor; font-size: small; text-anchor: middle;}
</style>
