<script>
        import { json } from 'd3-fetch';
        import { onMount } from 'svelte';
        import Data from './_ex_7_scatterplot.svelte';
    
        let alldata = [];
        let filterdata = [];
        let data = [];
        onMount(async () => {
            alldata = await json('/data/gapminder.json');
            filterdata = alldata.filter(datapoint => datapoint.year==="1800");
            data = filterdata[0].countries;
        });
    
</script>
    
<Data data={data} />









